# Ignore vagrant files
.vagrant

# python compiled binary
__pycache__/
*.py[cod]

# python packaging
build/
dist/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
