<!doctype html>
<title>Blog</title>
<link rel=stylesheet type=text/css href"{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% block menu %}
<section>
<h1>Menu</h1>
<ul>
    {% if username %}<li><a>Hi, {{ user }}</a></li>{% endif %}
  <li><a href="/">Home</a></li>
  <li><a href="add-post">Add Post</a></li>
  <li><a href="register">Register</a></li>
  <li>
      {% if not session.logged_in %}
         <a href="{{ url_for('login') }}">log in</a>
      {% else %}<a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
  </li>
</ul>
</section>
<section>
    {% block content %}{% endblock %}
</section>
{% endblock %}
