<!doctype html>
<title>Blog</title>
<link rel=stylesheet type=text/css href"{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% block menu %}
<section>
<h1>Menu</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="post">Add Post</a></li>
  <li>
      {% if not session.logged_in %}
         <a href="{{ url_for('login') }}">log in</a>
      {% else %} b     <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
  </li>
</ul>
</section>
<section>
    {% block content %}{% endblock %}
</section>
{% endblock %}
